
td{
    text-align: start;
}
/* header */
#header-main{
    position: relative;
}
#header-main #login{
    right: 40px;
    top: 25px;
    text-decoration: none;
    position: absolute;
}
#header-main #login a{
    color: white;
    text-decoration: none;
}
#header-title h1, #header-title h2{
    display: inline-flex;
    margin-top: 18px;
}
#header-main #login{
    display: inline-flex;
}
#header-main #logo p{
    position: absolute;
    font-size: 14px;
    left: 125px;
    top: 5px;
    color: white;
}
#header-search{
    height: 35px;
    max-width: 40%;
    background-color: white;
    margin-left: 30px;
}
#header-search input{
    height: 35px;
}
#header-icon
{
    position: absolute;
    right: 220px;
    top: 18px;
}
/* nav */
nav{
    background-color: rgb(253, 250, 246);
}
nav .nav-item{
    margin-right: 15px;    
}
nav .nav-item:hover a{
    color: red;
}
nav .nav-item .menu-lv-1{
    z-index: 999;
    width: 200px;
    background-color: aliceblue;
    padding: 0;
    display: none;
    position: absolute;
    list-style-type: none;
}
nav .nav-item:hover .menu-lv-1{
    display: block;
}
nav .nav-item:hover .menu-lv-1 a{
    color: black;
}
/* footer */
#footer-main{
    position: relative;
}
#footer-main p{
    margin-left: 35px;
}
#footer-title {
    position: absolute;
    left: 70px;
    top:18px;
}
#footer-title h1,#footer-title h2{
    display: inline-flex;
}
