*{
    padding: 0;
    margin: 0;
}
#login-form{
    text-align: center;
    margin: 80px 0;
}
#login-form label a{
    text-decoration: none;
}
.input-form{
    width: 100%;
    margin: 30px 0;;
}
.input-form label{
    color: gray;
    font-style: italic;
    font-size: 12px;
    float: left;
    margin-left: -11px;
}
.login-input input[type="text"]{
    outline: 0;
    width: 100%;
    font-size: 17px;
    border: none;
    border-bottom: 0.5px solid rgb(189, 189, 189);
    padding: 0;
}
.check-form{
    text-align: start;
}
.footer-intro{
    color: white;
}