#trademark-list a{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#trademark-list img{
    width: 180px;
}
#trademark-list a:hover{
    transform: scale(105%);
}
.item-list .item{
    border:1px solid black;
    padding: 15px;
    text-decoration: none;
    position: relative;
    height: 310px;
}
.item-list .item .item-title{
    margin-top: 20px;
    color: black;
}
.item-list .item .item-price{
    position: absolute;
    color: red;
    bottom: 0;

}
.item-name{
    color: black;
}
.item-list h4{
    margin: 40px 0;
}
.item-list .item img{
    width: 150px;
    height: 180px;
} 
